html {
    max-width: 900px;
    height:100%;
    margin:0;
    padding: 0;
}

body {
    font-family: 'pt sans';
    font-size: 13px;
    min-height: 100%;
}

.texto {
    font-family: 'pt sans';
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.dimple-axis {
    font-size:14px !important;
}

rect.dimple-tooltip {
    fill: #FFD8A3 !important;
    stroke: #E9A083 !important;
}

.dimple-tooltip {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size:100% !important;
}

.tooltip {
    font-size:18px ;
}

text.dimple-legend {
    font-size:16px !important;
}

.color-default {
    stroke: #8f598f !important;
    fill: #8f597d !important;
}

#menu_e_texto {
    padding:0;
    width:95%;
}

#info_barra {
    padding-left:10px;
}

#rodape {
    padding-left: 10px;
}

#outros_infos {
    width:95%;
}

.titulo {
    padding-left:10px;
}

#texto > b {
    font-size:16px;
}

#assinatura {
    font-size:16px;
}

#menu {
    padding-bottom:20px;
}

